<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/register.css">
    </head>
    {% load static %}
    <body style="background-image:url('{% static 'img/login.jpg' %}'); background-repeat: no-repeat; background-size: 100%;  background-position: 25% 25%;">
        <nav>
            <div class="wrap">
              <div class="logo"> Dictionary/Translator</div>
              <ul>
                <li><a href = "#">Home</a></li>
                <li><a href = "#">About</a></li>
                <li><a href = "#">News</a></li>
                <li><a href = "#">Comment</a></li>
              </ul>
            </div>
          </nav>

<div class="form-box">
        <form class="form" action="/register" method="post">
          <h3>Sign Up</h3>
            {% csrf_token %}
            <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            <input type="text" id="username" name="username"Required>
            <label for="">Username:</label>
            </div>

            <div class="inputbox">
            <ion-icon name="person-circle-outline"></ion-icon>
            <input type="text" id="fname" name="fname"Required>
            <label for="">First Name:</label>
            </div>

            <div class="inputbox">
            <ion-icon name="person-circle-outline"></ion-icon>
            <input type="text" id="lname" name="lname"Required>
            <label for="">Last Name:</label>
            </div>

            <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" id="email" name="email"Required>
            <label for="">Email Address:</label>
            </div>

            <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" id="pass1" name="pass1"Required>
            <label for="">Password:</label>
            </div>

            <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" id="pass2" name="pass2"Required>
            <label for="">Confirm Password:</label>
            </div>

            <button type="submit">Register</button>
            <div class="register">
                <p>Already have an Account? <a href="/index">Login Here</a></p>


            </div>
        </form>
</div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>